@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Individual/**/*';
@source '../../../../resources/views/filament/individual/**/*';
@source '../../../../vendor/bezhansalleh/filament-panel-switch/resources/views/**/*.blade.php';