@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/School/**/*';
@source '../../../../resources/views/filament/school/**/*';
@source '../../../../vendor/bezhansalleh/filament-panel-switch/resources/views/**/*.blade.php';